body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans,
    Helvetica, Arial, sans-serif;
  background: grey;
}
.logo {
  background: url('/Users/Dl1UnmaskeDD/Documents/GitHub/Test/Adele.svg');
}
h2 {
  text-align: center;
}
.title {
  font-family: intro head r;
  font-size: 35px;
  color: white;
}
.Center {
  margin: 0vh 45vw;
}
/* header {} */ /* <link rel="stylesheet" href="main.css"> */
/* <header>
        <h1>123</h1>
        <h1>234235</h1>
        <div>
            asd
            <div>adas</div>
        </div>
    </header> */
